body {
	color: #333;
	font-family: Montserrat Alternates;
}
.form-outer {
	padding: 15px;
}
.form-input {
	border: 1px solid #334;
	border-radius: 3px;
	font-family: Montserrat Alternates;
	font-size: 18px;
	padding: 5px 0 5px 5px;
}
.invitation-url {
	border: 1px solid #889;
	border-radius: 3px;
	font-size: 18px;
	padding: 5px 0 5px 5px;
	word-break: break-word;
}
.form-group {
	margin-bottom: 10px;
}
.conn-outer {
	border-radius: 8px;
	border: 1.5px solid #999;
	margin: 15px;
	padding: 2px 2px 10px;
}
.conn-head {
	display: flex;
	padding: 10px;
}
.conn-info {
	flex: auto;
	padding-left: 15px;
	word-break: break-word;
}
.conn-label {
	margin: 10px 0 8px;
}
.conn-did {
	color: #666;
	margin-top: 5px;
}
.identifier {
	font-variant-numeric: tabular-nums;
}
.activity-row {
	font-size: 105%;
	margin: 5px 15px;
	padding-bottom: 4px;
}
.activity-row .fa {
	font-size: 24px;
	margin-right: 6px;
	margin-top: -2px;
	opacity: 0.6;
}
.activity-time {
	color: #666;
	font-size: 85%;
	padding: 2px 5px 0 0;
	text-align: right;
}
.message {
	background: lightblue;
	border-radius: 10px;
	color: #222;
	padding: 5px 10px;
}
.received .message {
	background: #9eb;
}
.invitation, .request, .response {
	padding: 5px 10px;
}
.ping {
	background: #ccc;
	border-radius: 10px;
	padding: 5px 10px;
}
.conn-actions {
	flex: 0 0 25%;
	text-align: right;
}
.conn-action {
	background: #fff;
	border-radius: 5px;
	border: 2px solid #45f;
	color: #45f;
	cursor: pointer;
	font-family: Montserrat Alternates;
	font-size: 14px;
	font-weight: 600;
	padding: 8px 12px;
}
.conn-action.cancel {
	border-color: #666;
	color: #666;
}
