body {
	background: #EBF5F7;
	color: #345;
	font-family: Montserrat;
	margin: 0;
	padding-bottom: 50px;
}
.title {
	border-bottom: 2px solid rgba(20, 70, 150, 0.25);
	color: #567;
	padding: 4px .3em;
	margin: 20px 15px 20px;
}
.app-header {
	background: #f0f0f0;
	background: linear-gradient(160deg, #00AE94 30%, #8BE6A3);
	color: #dfefff;
	border-bottom: 2px solid #00AE94;
	margin-bottom: 30px;
	padding: 20px 30px 15px;
}
.app-header div {
	flex: auto;
}
.app-header .app-icon {
	flex: 0 0 5em;
}
.app-header .app-icon img {
	margin-top: -4px;
	width: 60px;
}
.app-header .app-info {
	text-shadow: 0 1px 1px rgba(0, 134, 108, 0.8);
	word-break: break-word;
}
.app-header .left, .app-header .right {
	display: flex;
}
.app-header .left {
	flex: 1 0 auto;
	min-width: 22em;
}
.app-header .right {
	flex: 0 1 auto;
}
.app-header .invites {
	flex: 1 1 auto;
	padding-left: 10px;
	padding-top: 6px;
	text-align: center;
}
.app-header .system {
	flex: 1 0 auto;
	padding-left: 10px;
	padding-top: 6px;
	text-align: center;
}
.app-header h3 {
	font-size: 20px;
	margin: 0 0 5px 0;
}
.app-header p {
	margin: 0 0 5px 0;
}
.nav-menu {
	/* background: #fff;
	background: linear-gradient(to bottom, #f0f0f0 30%, #fff 100%);
	border: 2px solid #abc;
	border-radius: 4px;
	padding: 5px 5px 1px;*/
	margin: 0 30px;
}
.nav-menu div {
	flex: auto;
}
.nav-menu .right {
	flex: 0 1 auto;
}
.form-outer {
	margin: 5px 15px 15px;
}
.form-input {
	border: 1px solid #789;
	border-radius: 3px;
	font-family: Montserrat;
	font-size: 18px;
	max-width: 100%;
	padding: 5px 0 5px 5px;
}
.invitation-url {
	border: 1px solid #889;
	border-radius: 3px;
	font-family: Montserrat;
	font-size: 16px;
	padding: 5px 0 5px 5px;
	width: 100%;
	word-break: break-word;
}
.form-group {
	margin-bottom: 15px;
}
.form-label {
	display: block;
	font-size: 14px;
	line-height: 1.5;
}
.conn-list-outer {
	margin: 0 15px;
}
.conn-list {
	background: #f3f6ff;
	border: 1px solid #bcd;
	margin: 0 15px;
}
.conn-list .avatar, .avatar.small {
	width: 40px;
}
.conn-list .conn-did {
	margin-top: 10px;
}
.conn-outer {
	padding: 2px 2px;
}
.conn-outer:not(:last-child)::after {
	background: #bcd;
	content: '';
	display: block;
	height: 1px;
}
.activity-count {
	color: #567;
	font-size: 20px;
	margin-right: 10px;
	position: relative;
	top: -10px;
}
.activity-count .fa {
	color: #789;
	font-size: 90%;
}
.conn-detail-outer {
	margin: 0 15px;
}
.conn-detail {
	margin: 15px 0;
	padding: 2px 2px;
}
.conn-alert {
	background: #f3f6ff;
	border-radius: 6px;
	border: 1.5px solid #999;
	margin: 15px 0;
	padding: 15px;
}
.conn-alert.error {
	border-color: #e88;
	background: #f6eeee;
	color: #533;
}
.conn-head {
	display: flex;
	margin: 10px 15px;
}
.conn-info {
	flex: 1 1 30%;
	padding-left: 15px;
	word-break: break-word;
}
.conn-label {
	text-shadow: 0 1px 1px rgba(0, 40, 50, 0.15);
	margin: 10px 0 8px;
}
.conn-detail .conn-label, cred-detail-outer .conn-label, .pres-detail-outer .conn-label {
	margin-top: 0;
}
.conn-detail .conn-head {
	background: #f3f6ff;
	border: 1px solid #bcd;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 20px;
}
.conn-did {
	color: #556;
	margin: 5px 0;
}
.conn-did .label {
	font-weight: bold;
	font-size: 95%;
	display: inline-block;
	min-width: 7em;
}
.identifier {
	font-variant-numeric: tabular-nums;
}
.fa-md {
	font-size: 16px;
}
.activity-row {
	font-size: 105%;
	margin: 5px 15px;
	padding-bottom: 4px;
}
.activity-row.reply {
	margin-bottom: 20px;
}
.activity-row .fa-lg {
	font-size: 24px;
	margin-right: 6px;
	margin-top: -2px;
	opacity: 0.6;
}
.activity-time {
	color: #666;
	font-size: 85%;
	padding: 2px 5px 0 0;
	text-align: right;
}
.message {
	background: lightblue;
	border-radius: 10px;
	color: #222;
	padding: 8px 10px;
}
.message-wrap {
	word-wrap: break-word;
}
.message-copy {
	padding-top: 8px;
}
.message-copied {
	background: #f3f6ff;
	border-radius: 4px;
	font-size: 80%;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 3px 6px;
}
.received .message {
	background: #9eb;
}
.ping, .invitation, .request, .response {
	padding: 5px 10px;
}
.conn-actions {
	flex: 0 0 30%;
	text-align: right;
}
.conn-action {
	background: #f3f6ff;
	border-radius: 5px;
	border: 2px solid #48e;
	color: #48e;
	cursor: pointer;
	display: inline-block;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
	outline: none;
	padding: 8px 12px;
	vertical-align: bottom;
}
.conn-action .fa {
	margin-right: 3px;
}
.conn-action:not(:disabled):not(:hover):not(:focus) .fa {
	color: #59e;
}
.conn-action:not(:disabled):focus {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.conn-action:not(:disabled):hover, .conn-action:not(:disabled):focus {
	border-color: #25c;
	color: #25c;
}
.conn-action.active:not(:hover) {
	background: linear-gradient(to bottom, #48e 0%, #59f 100%);
	border-color: #25c;
	color: #fff;
}
.conn-action.active:not(:disabled):not(:hover):not(:focus) .fa {
	color: #fff;
}
.conn-action.accept {
	border-color: #009E84;
	color: #009E84;
}
.conn-action.accept:not(:disabled):not(:hover):not(:focus) .fa {
	color: #008E74;
}
.conn-action.header {
	border-color: #008E74;
	color: #008E74;
}
.conn-action.header:not(:disabled):not(:hover):not(:focus) .fa {
	color: #009E84;
}
.conn-action.cancel {
	border-color: #678;
	color: #678;
}
.conn-action.cancel:not(:disabled):not(:hover):not(:focus) .fa {
	color: #789;
}
.conn-action:disabled {
	background: #f0f3f6;
	border-color: #89a;
	color: #89a;
	cursor: default;
}
.invitation-qr {
	height: auto;
	width: 200px;
	max-width: 100%;
}

.menu-outer {
	background: rgba(240, 230, 210, 0.5);
	background: repeating-linear-gradient(
	  45deg,
	  rgba(240, 230, 210, 0.5),
	  rgba(240, 230, 210, 0.5) 10px,
	  rgba(240, 230, 210, 0.7) 10px,
	  rgba(240, 230, 210, 0.7) 12px
	);
	border: 1px solid #789;
	border-radius: 8px;
	box-shadow: 0 2px 2px rgba(50, 40, 30, 0.1);
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 8px;
	max-height: 400px;
	max-width: 400px;
	overflow: hidden;
}
.menu-header {
	border-bottom: 1px solid #89a;
	box-shadow: 0 2px 10px 0 inset rgba(0, 0, 0, 0.1);
	cursor: default;
	padding: 8px;
}
.menu-header .menu-title-row {
	display: flex;
}
.menu-close {
	cursor: pointer;
	flex: none;
	text-align: center;
	width: 25px;
}
.menu-title {
	font-size: 14pt;
	flex: auto;
	margin: 0;
}
.menu-description {
	color: #678;
	font-size: 10pt;
	margin-top: 6px;
}
.menu-error {
	border: 1px solid #e88;
	border-radius: 4px;
	background: #f6eeee;
	color: #533;
	font-size: 10pt;
	margin-top: 6px;
	padding: 4px 6px;
}
.menu-options {
	background: #f6f6f3;
	flex: auto;
	overflow: auto;
}
.menu-option {
	cursor: default;
	display: flex;
	padding: 8px;
	outline: none;
}
.menu-option:not(.disabled) {
	cursor: pointer;
}
.menu-option:focus {
	box-shadow: inset 0 0 7px 0 rgba(0, 100, 200, 0.7);
}
.menu-option:not(.disabled):hover {
	background: #e6f3ff;
}
.menu-option + .menu-option {
	border-top: 1px solid #89a;
}
.option-text {
	flex: auto;
}
.option-icon {
	flex: none;
	text-align: center;
	width: 25px;
}
.menu-option.disabled .option-icon {
	color: #abc;
}
.option-title {
	font-size: 12pt;
}
.menu-option.disabled .option-title {
	color: #abc;
	text-shadow: 0 -1px 0 rgba(0, 0, 50, 0.2);
}
.option-description {
	color: #789;
	font-size: 10pt;
	margin-top: 5px;
}
.menu-option.disabled .option-description {
	color: #9ab;
}
.menu-outer .conn-action {
	line-height: 1;
	margin: 0;
}
.menu-outer .form-params {
	background: #f6f6f3;
	border-bottom: 1px solid #89a;
	overflow: auto;
}
.menu-form {
	display: flex;
	flex-flow: column nowrap;
}
.menu-form .form-row {
	padding: 12px 8px;
}
.menu-form .form-buttons {
	padding: 8px;
	text-align: right;
}
.menu-form .form-input {
	margin-top: 4px;
}
.fa.right {
	margin-left: 4px;
	margin-right: 0;
}

/* invite page */
.index-outer {
	margin: 4em;
	text-align: center;
}
.index-outer .conn-action {
	font-size: 24px;
}
.index-outer .conn-action .fa {
	font-size: 22px;
}
.row-copied {
	margin-top: 0.5em;
}

@media screen and (min-width: 800px) {
	.invitation-outer {
		display: flex;
	}
	.invitation-qr-outer {
		flex: 1 1 25%;
	}
	.invitation-url-outer {
		flex: 1 1 75%;
		padding-right: 2em;
	}
	.app-header {
		display: flex;
	}
	.nav-menu {
		display: flex;
	}
}
