body {
	background: #EBF5F7;
	color: #334;
	font-family: Montserrat;
	margin: 0;
	padding-bottom: 40px;
}
.title {
	border-bottom: 2px solid rgba(20, 70, 150, 0.25);
	color: #567;
	padding: 4px 0;
	margin: 15px 15px 20px;
}
.app-header {
	background: #f0f0f0;
	background: linear-gradient(to left, #dbf3e3, #e0eff3);
	border-bottom: 2px solid #A8D1B5;
	margin-bottom: 30px;
	padding: 20px 15px 15px;
}
.app-header div {
	flex: auto;
}
.app-header .app-icon {
	flex: 0 0 5em;
}
.app-header .app-icon img {
	margin-top: -4px;
	width: 60px;
}
.app-header .app-info {
	word-break: break-word;
}
.app-header .left, .app-header .right {
	display: flex;
}
.app-header .left {
	flex: 1 0 auto;
	min-width: 22em;
}
.app-header .right {
	flex: 0 1 auto;
}
.app-header .invites {
	flex: 1 1 auto;
	padding-left: 10px;
	padding-top: 6px;
	text-align: center;
}
.app-header .system {
	flex: 1 0 auto;
	padding-left: 10px;
	padding-top: 6px;
	text-align: center;
}
.app-header h3 {
	font-size: 20px;
	margin: 0 0 5px 0;
}
.app-header p {
	margin: 0 0 5px 0;
}
.form-outer {
	margin: 5px 15px 15px;
}
.form-input {
	border: 1px solid #789;
	border-radius: 3px;
	font-family: Montserrat;
	font-size: 18px;
	max-width: 100%;
	padding: 5px 0 5px 5px;
}
.invitation-url {
	border: 1px solid #889;
	border-radius: 3px;
	font-family: Montserrat;
	font-size: 16px;
	padding: 5px 0 5px 5px;
	width: 100%;
	word-break: break-word;
}
.form-group {
	margin-bottom: 15px;
}
.form-label {
	display: block;
	font-size: 14px;
	line-height: 1.5;
}
.conn-list-outer {
	margin: 0 15px;
}
.conn-list {
	background: #fff;
	border: 1px solid #bcd;
	margin: 0 15px;
}
.conn-list .avatar {
	width: 40px;
}
.conn-list .conn-did {
	margin-top: 10px;
}
.conn-outer {
	padding: 2px 2px;
}
.conn-outer:not(:last-child)::after {
	background: #bcd;
	content: '';
	display: block;
	height: 1px;
}
.activity-count {
	color: #567;
	font-size: 20px;
	margin-right: 10px;
	position: relative;
	top: -10px;
}
.activity-count .fa {
	color: #789;
	font-size: 90%;
}
.conn-detail-outer {
	margin: 0 15px;
}
.conn-detail {
	margin: 15px 0;
	padding: 2px 2px;
}
.conn-alert {
	background: #fff;
	border-radius: 6px;
	border: 1.5px solid #999;
	margin: 15px;
	padding: 15px;
}
.conn-alert.error {
	border-color: #e88;
	background: #ecc;
	color: #533;
}
.conn-head {
	display: flex;
	margin: 10px;
}
.conn-info {
	flex: 1 1 30%;
	padding-left: 15px;
	word-break: break-word;
}
.conn-label {
	text-shadow: 0 1px 1px rgba(0, 0, 50, 0.15);
	margin: 10px 0 8px;
}
.conn-detail .conn-label {
	margin-top: 0;
}
.conn-detail .conn-head {
	background: #fff;
	border: 1px solid #bcd;
	padding: 10px;
	margin-bottom: 20px;
}
.conn-did {
	color: #556;
	margin: 5px 0;
}
.conn-did .label {
	font-weight: bold;
	font-size: 95%;
	display: inline-block;
	min-width: 7em;
}
.identifier {
	font-variant-numeric: tabular-nums;
}
.fa-md {
	font-size: 16px;
}
.activity-row {
	font-size: 105%;
	margin: 5px 15px;
	padding-bottom: 4px;
}
.activity-row.reply {
	margin-bottom: 20px;
}
.activity-row .fa-lg {
	font-size: 24px;
	margin-right: 6px;
	margin-top: -2px;
	opacity: 0.6;
}
.activity-time {
	color: #666;
	font-size: 85%;
	padding: 2px 5px 0 0;
	text-align: right;
}
.message {
	background: lightblue;
	border-radius: 10px;
	color: #222;
	padding: 5px 10px;
}
.message-wrap {
	word-wrap: break-word;
}
.message-copy {
	padding-top: 8px;
}
.message-copied {
	background: #fff;
	border-radius: 4px;
	font-size: 80%;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 3px 6px;
}
.received .message {
	background: #9eb;
}
.ping, .invitation, .request, .response {
	padding: 5px 10px;
}
.conn-actions {
	flex: 0 0 30%;
	text-align: right;
}
.conn-action {
	background: #fff;
	border-radius: 5px;
	border: 2px solid #48e;
	color: #48e;
	cursor: pointer;
	display: inline-block;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 4px;
	outline: none;
	padding: 8px 12px;
	vertical-align: bottom;
}
.conn-action .fa {
	margin-right: 3px;
}
.conn-action:not(:disabled):not(:hover):not(:focus) .fa {
	color: #59e;
}
.conn-action:not(:disabled):hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.conn-action:not(:disabled):hover, .conn-action:not(:disabled):focus {
	border-color: #25c;
	color: #25c;
}
.conn-action.accept {
	border-color: #398;
	color: #398;
}
.conn-action.accept:not(:disabled):not(:hover):not(:focus) .fa {
	color: #4a9;
}
.conn-action.cancel {
	border-color: #666;
	color: #666;
}
.conn-action.cancel:not(:disabled):hover, .conn-action.cancel:not(:disabled):focus {
	border-color: #444;
	color: #444;
}
.conn-action:disabled {
	background: #f6f6f6;
	border-color: #aaa;
	color: #aaa;
	cursor: default;
}
.invitation-qr {
	height: auto;
	width: 200px;
	max-width: 100%;
}

@media screen and (min-width: 800px) {
	.invitation-outer {
		display: flex;
	}
	.invitation-qr-outer {
		flex: 1 1 25%;
	}
	.invitation-url-outer {
		flex: 1 1 75%;
		padding-right: 2em;
	}
	.app-header {
		display: flex;
	}
}
