<!DOCTYPE html>
<html lang="en">
<head>
	<title>Indy Catalyst Administrator</title>
	<meta charset="utf-8">
	<meta name="description" content="Demo interface for displaying Indy Catalyst connection information">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="icon" href="img/favicon.png">

	<link rel="stylesheet" href="css/page.css?3">

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- script src="https://cdn.jsdelivr.net/npm/vue"></script -->
</head>
<body>

<div id="app-outer" class="app-outer" style="display: none" v-show="true">
	<div class="app-header">
		<div class="left">
			<div class="app-icon">
				<img src="img/secret-agent-light.svg" alt="Agent">
			</div>
			<div class="app-info">
				<template v-if="conn_status">
					<h3>{{ app_label }}</h3>
					<p>{{ app_endpoint }}</p>
				</template>
			</div>
		</div>
		<div class="right">
			<div class="system">
				<template v-if="mode !== 'settings'">
					<button class="conn-action header" @click.prevent="showSettings"><span class="fa fa-md fa-cogs"></span> Configure</button>
				</template>
				<a :href="help_link" class="conn-action header" target="_blank" rel="external" v-if="help_link"><span class="fa fa-md fa-question-circle"></span></a>
			</div>
		</div>
	</div>
	<div class="nav-menu">
		<div class="left">
			<template v-if="conn_status">
				<button class="conn-action" @click.prevent="showConnections" :class="{active: mode === 'connections'}"><span class="fa fa-md fa-list-alt"></span> Connections</button>
				<button class="conn-action" @click.prevent="showCredentials" :class="{active: mode === 'credentials'}"><span class="fa fa-md fa-certificate"></span> Credentials</button>
				<button class="conn-action" @click.prevent="showPresentations" :class="{active: mode === 'presentations'}"><span class="fa fa-md fa-newspaper"></span> Presentations</button>
			</template>
		</div>
		<div class="right">
			<template v-if="conn_status && mode === 'connections'">
				<button class="conn-action" @click.prevent="showGenerate"><span class="fa fa-md fa-envelope"></span> Generate Invitation</button>
				<button class="conn-action" @click.prevent="showReceive" :disabled="no_receive"><span class="fa fa-md fa-envelope-open-text"></span> Receive Invitation</button>
			</template>
		</div>
	</div>
	<div class="form-outer" v-if="mode === 'settings'">
		<h2 class="title">Configure Admin Client</h2>
		<form @submit.prevent="showConnections(true)" class="form-outer">
			<div class="form-group">
				<label class="form-label">Agent URL</label>
				<input type="url" class="form-input" name="app_url" v-model="app_url" size="60">
			</div>
			<button type="submit" class="conn-action"><span class="fa fa-md fa-sign-in-alt"></span> Connect</button>
		</form>
	</div>
	<div class="form-outer" v-if="mode === 'receive_invite'">
		<h2 class="title">Receive an Invitation</h2>
		<form @submit.prevent="receiveInvite()" autocomplete="off" class="form-outer">
			<div class="form-group">
				<label class="form-label">Invitation URL</label>
				<input type="url" class="form-input" id="invite_url" name="invite_url" placeholder="http://example.com?c_i=..." v-model="input_invite_url" size="60">
			</div>
			<button type="submit" class="conn-action"><span class="fa fa-md fa-envelope-open-text"></span> Receive Invitation</button>
			<button type="button" class="conn-action cancel" @click.prevent="showConnections">Cancel</button>
		</form>
	</div>
	<div class="form-outer" v-if="mode === 'generate_invite'">
		<h2 class="title">Generated Invitation</h2>
		<div class="form-outer">
			<div class="invitation-outer">
				<div class="form-group invitation-url-outer">
					<label class="form-label">Invitation URL</label>
					<textarea id="invitation-url" class="invitation-url identifier" rows="8" readonly="true">{{ recvd_invite_url }}</textarea>
				</div>
				<div class="form-group invitation-qr-outer">
					<label class="form-label">Invitation QR Code</label>
					<canvas id="invitation-qr" class="invitation-qr"></canvas>
				</div>
			</div>
			<button type="button" class="conn-action" @click.prevent="copyInvite"><span class="fa fa-md fa-copy"></span> Copy Invitation</button>
			<button type="button" class="conn-action cancel" @click.prevent="showDetail(recvd_invite_id)"><span class="fa fa-md fa-folder-open"></span> Go to Connection</button>
		</div>
	</div>
	<div v-if="mode !== 'settings' && conn_error" class="form-outer">
		<div class="conn-alert error">
			{{ conn_error }}
		</div>
	</div>
	<div v-if="conn_loading" class="form-outer">
		<div class="conn-alert">
			<span class="fa fa-hourglass-half"></span>&nbsp; Connecting ...
		</div>
	</div>
	<div v-if="mode === 'connections' && conn_status">
		<div class="conn-list-outer" v-if="conn_groups.length">
			<div v-for="group in conn_groups">
				<h2 class="title">{{ group.label }} ({{ group.connections.length }})</h2>
				<div class="conn-list" v-if="group.connections.length">
					<div v-for="conn in group.connections" :key="conn.connection_id" class="conn-outer">
						<div class="conn-head">
							<div class="avatar-outer">
								<img :src="conn.image" class="avatar">
							</div>
							<div class="conn-info">
								<h3 class="conn-label" :style="{ color: conn.color }" v-if="conn.their_label">{{ conn.their_label }}</h3>
								<h3 class="conn-label" :style="{ color: conn.color }" v-else-if="conn.state == 'invitation'">Pending Connection</h3>
								<h3 class="conn-label" :style="{ color: conn.color }" v-else>Connection</h3>
							</div>
							<div class="conn-info">
								<p class="conn-did identifier" v-if="conn.their_did">{{ conn.their_did }}</p>
							</div>
							<div class="conn-actions">
								<span class="activity-count" v-if="conn.invite_count">
									<span class="fa fa-envelope"></span> {{ conn.invite_count }}
								</span>
								<span class="activity-count" v-if="conn.activity_count">
									<span class="fa fa-comment"></span> {{ conn.activity_count }}
								</span>
								<button type="button" class="conn-action accept" v-if="conn.state == 'invitation' && conn.initiator == 'external'" @click.prevent="acceptInvite(conn.connection_id)"><span class="fa fa-md fa-check"></span> Accept Invitation</button>
								<button type="button" class="conn-action accept" v-if="conn.state == 'request' && conn.initiator == 'self'" @click.prevent="acceptRequest(conn.connection_id)"><span class="fa fa-md fa-check"></span> Accept Request</button>
								<button type="button" class="conn-action" @click.prevent="showDetail(conn.connection_id)"><span class="fa fa-md fa-folder-open"></span> Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="! conn_groups.length" class="form-outer">
			<div class="conn-alert">
				No connection records.
			</div>
		</div>
	</div>
	<div class="conn-detail-outer" v-if="mode === 'connection_detail'">
		<h2 class="title">Connection Details</h2>
		<div class="conn-detail">
			<div class="conn-head">
				<div class="avatar-outer">
					<img :src="conn_detail.image" class="avatar">
				</div>
				<div class="conn-info">
					<h2 class="conn-label" :style="{ color: conn_detail.color }" v-if="conn_detail.their_label">{{ conn_detail.their_label }}</h2>
					<h2 class="conn-label" :style="{ color: conn_detail.color }" v-else-if="conn_detail.state == 'invitation'">Pending Connection</h2>
					<h2 class="conn-label" :style="{ color: conn_detail.color }" v-else>Connection</h2>
					<p class="conn-did identifier" v-if="conn_detail.their_did"><span class="label">Their DID:</span> {{ conn_detail.their_did }}</p>
					<p class="conn-did identifier" v-if="conn_detail.my_did"><span class="label">My DID:</span> {{ conn_detail.my_did }}</p>
					<p class="conn-did" v-if="conn_detail.created_at"><span class="label">Created:</span> {{ conn_detail.created_at | formatDate }}</p>
				</div>
				<div class="conn-actions">
					<button type="button" class="conn-action accept" v-if="conn_detail.state == 'invitation' && conn_detail.initiator == 'external'" @click.prevent="acceptInvite(conn_detail.connection_id)"><span class="fa fa-md fa-check"></span> Accept Invitation</button>
					<button type="button" class="conn-action accept" v-if="conn_detail.state == 'request' && conn_detail.initiator == 'self'" @click.prevent="acceptRequest(conn_detail.connection_id)"><span class="fa fa-md fa-check"></span> Accept Request</button>
					<button type="button" class="conn-action" v-if="conn_detail.state == 'active'" @click.prevent="sendPing(conn_detail.connection_id)"><span class="fa fa-md fa-hand-point-left"></span> Send Trust Ping</button>
					<button type="button" class="conn-action cancel" @click.prevent="removeConnection(conn_detail.connection_id)"><span class="fa fa-md fa-trash"></span> Remove</button>
				</div>
			</div>
			<div class="conn-body">
				<div class="activity-row menu">
					<button type="button" class="conn-action menu-button" v-if="conn_menu_closed" @click.prevent="menuShow">Show Menu <span class="fa fa-bars right"></span></button>
					<div class="menu-outer" v-else-if="conn_menu_form">
						<div class="menu-header">
							<div class="menu-title-row">
								<h3 class="menu-title">{{conn_menu_form.title || ''}}</h3>
								<div class="menu-close" tabindex="0" @click.prevent="menuCloseForm">
									<span class="fa fa-times"></span>
								</div>
							</div>
							<div class="menu-description" v-if="conn_menu_form.description">{{conn_menu_form.description}}</div>
						</div>
						<form class="menu-form" autocomplete="off" @submit.prevent="menuSubmitForm">
							<div v-if="conn_menu_form.params" class="form-params">
								<div v-for="(param, param_idx) in conn_menu_form.params" class="form-row">
									<label class="param-title">{{ param.title }} <span class="required" v-if="param.required">*</span></label>
									<input class="form-input" size="30" v-model="conn_menu_form.values[param.name]" :id="(param_idx == 0 ? 'menu-first-param' : '')">
									<div class="param-description" v-if="param.description">{{ param.description }}</div>
								</div>
							</div>
							<div class="form-buttons">
								<button type="button" class="conn-action cancel" @click.prevent="menuCloseForm">Cancel</button>
								<button type="submit" class="conn-action accept">{{ conn_menu_form['submit-label'] || 'Search' }}</button>
							</div>
						</form>
					</div>
					<div class="menu-outer" v-else-if="conn_menu">
						<div class="menu-header">
							<div class="menu-title-row">
								<h3 v-if="conn_menu.title" class="menu-title">{{conn_menu.title}}</h3>
								<div class="menu-close" tabindex="0" @click.prevent="menuClose">
									<span class="fa fa-times"></span>
								</div>
							</div>
							<div class="menu-description" v-if="conn_menu.description">{{conn_menu.description}}</div>
							<div class="menu-error" v-if="conn_menu.errormsg">{{conn_menu.errormsg}}</div>
						</div>
						<div class="menu-options">
							<div v-for="(option, option_idx) in conn_menu.options" class="menu-option" :class="{disabled: option.disabled}" tabindex="0" @click.prevent="menuPerform(option_idx)">
								<div class="option-text">
									<div class="option-title">{{option.title}}</div>
									<div class="option-description" v-if="option.description">{{option.description}}</div>
								</div>
								<div class="option-icon">
									<span class="fa fa-chevron-right"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="activity-row reply" v-if="conn_detail.state == 'active'">
					<input type="text" class="form-input" name="send_message" placeholder="Send message .." size="60" @keyup.enter="sendMessage(conn_detail.connection_id, $event.target)" autocomplete="off">
				</div>
				<div v-for="row in conn_detail.activity" :class="'activity-row ' + row.direction">
					<div class="message" v-if="row.type == 'message'">
						<div class="message-wrap">
							<span class="fa fa-lg fa-comment"></span> {{ row.meta.content }}
						</div>
						<div class="message-copy" v-if="row.meta.copy_invite">
							<button type="button" class="conn-action copy-message" @click.prevent="copyMessage(conn_detail.connection_id, row)" v-if="! row.meta.copied"><span class="fa fa-md fa-copy"></span> Copy Invitation</button>
							<span class="message-copied" v-else>Invitation copied.</span>
						</div>
					</div>
					<div class="ping" v-if="row.type == 'ping'">
						<span :class="'fa fa-lg fa-hand-point-' + (row.direction == 'sent' ? 'left' : 'right')"></span>
						{{ row.direction == 'sent'? 'Sent trust ping' : 'Received trust ping' }}
					</div>
					<div class="invitation" v-if="row.type == 'invitation'">
						<span :class="'fa fa-lg fa-envelope' + (row.direction == 'received' ? '-open-text' : '')"></span>
						{{ row.direction == 'sent'? 'Generated invitation' : 'Received invitation' }}
					</div>
					<div class="request" v-if="row.type == 'request'">
						<span class="fa fa-lg fa-user-plus"></span>
						{{ row.direction == 'sent'? 'Sent connection request' : 'Received connection request' }}
					</div>
					<div class="response" v-if="row.type == 'response'">
						<span class="fa fa-lg fa-user-check"></span>
						{{ row.direction == 'sent'? 'Sent connection response' : 'Received connection response' }}
					</div>
					<div class="activity-time">
						<span v-if="row.type != 'ping' && row.type != 'invitation'">
							{{ row.direction == 'sent'? 'Sent' : 'Received' }}
						</span>
						{{ row.time | formatDate }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div v-if="mode === 'credentials' && conn_status">
		<div class="conn-list-outer" v-if="cred_groups.length">
			<div v-for="group in cred_groups">
				<h2 class="title">{{ group.label }} ({{ group.credentials.length }})</h2>
				<div class="conn-list" v-if="group.credentials.length">
					<div v-for="cred in group.credentials" :key="cred.credential_exchange_id" class="conn-outer">
						<div class="conn-head">
							<div class="conn-info">
								<h3 class="conn-label" v-if="cred.schema_name">{{ cred.schema_name }} {{ cred.schema_version }}</h3>
								<h3 class="conn-label" v-else>Credential</h3>
							</div>
							<div class="avatar-outer">
								<img :src="cred.image" class="avatar">
							</div>
							<div class="conn-info">
								<h4 class="conn-label" :style="{ color: cred.color }" v-if="cred.connection_label">{{ cred.connection_label }}</h4>
								<p class="conn-did identifier" v-if="cred.issuer_did">{{ cred.issuer_did }}</p>
							</div>
							<div class="conn-actions">
								<button type="button" class="conn-action accept" v-if="cred.state == 'offer_received' && cred.initiator == 'external'" @click.prevent="acceptCredentialOffer(cred.credential_exchange_id)"><span class="fa fa-md fa-check"></span> Accept Credential Offer</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="! cred_groups.length" class="form-outer">
			<div class="conn-alert">
				No credential exchange records.
			</div>
		</div>
	</div>
	<div v-if="mode === 'presentations' && conn_status">
		<div class="conn-list-outer" v-if="pres_groups.length">
			<div v-for="group in pres_groups">
				<h2 class="title">{{ group.label }} ({{ group.presentations.length }})</h2>
				<div class="conn-list" v-if="group.presentations.length">
					<div v-for="pres in group.presentations" :key="pres.presentation_exchange_id" class="conn-outer">
						<div class="conn-head">
							<div class="conn-info">
								<h3 class="conn-label" v-if="pres.presentation_request && pres.presentation_request.name">{{ pres.presentation_request.name }}</h3>
								<h3 class="conn-label" v-else>Presentation Request</h3>
							</div>
							<div class="avatar-outer">
								<img :src="pres.image" class="avatar">
							</div>
							<div class="conn-info">
								<h4 class="conn-label" :style="{ color: pres.color }" v-if="pres.connection_label">{{ pres.connection_label }}</h4>
								<p class="conn-did identifier" v-if="pres.connection_did">{{ pres.connection_did }}</p>
							</div>
							<div class="conn-actions">
								<button type="button" class="conn-action accept" v-if="pres.state == 'request_received' && pres.initiator == 'external'" @click.prevent="preparePresentation(pres.presentation_exchange_id)"><span class="fa fa-md fa-chevron-right"></span> Prepare Presentation</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="! pres_groups.length" class="form-outer">
			<div class="conn-alert">
				No credential exchange records.
			</div>
		</div>
	</div>

</div>

<script src="js/identicon.js"></script>	
<script src="js/page.js?2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.js"></script>
</body>
</html>
