<!DOCTYPE html>
<html lang="en">
<head>
	<title>Indy Catalyst Administrator</title>
	<meta charset="utf-8">
	<meta name="description" content="Demo interface for displaying Indy Catalyst connection information">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="icon" href="img/favicon.png">

	<link rel="stylesheet" href="css/page.css">

	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- script src="https://cdn.jsdelivr.net/npm/vue"></script -->
</head>
<body>

<div id="app-outer" class="app-outer" style="display: none" v-show="true">
	<div class="app-header">
		<div class="icon">
			<img src="img/secret-agent.svg" alt="Agent">
		</div>
		<div>
			<template v-if="conn_status">
				<h3>{{ app_label }}</h3>
				<p>{{ app_endpoint }}</p>
			</template>
		</div>
		<div class="right">
			<template v-if="conn_status">
				<template v-if="mode === 'connections'">
					<button class="conn-action" @click.prevent="showGenerate"><span class="fa fa-envelope"></span> Generate Invitation</button>
					<button class="conn-action" @click.prevent="showReceive" :disabled="no_receive"><span class="fa fa-envelope-open-text"></span> Receive Invitation</button>
				</template>
				<template v-else>
					<button class="conn-action" @click.prevent="showConnections"><span class="fa fa-list-alt"></span> All Connections</button>
				</template>
			</template>
		</div>
		<div class="mini">
			<template v-if="mode !== 'settings'">
				<button class="conn-action" @click.prevent="showSettings"><span class="fa fa-cogs"></span> Configure</button>
			</template>
		</div>
	</div>
	<div class="form-outer" v-if="mode === 'settings'">
		<h2 class="title">Configure Admin Client</h2>
		<form @submit.prevent="showConnections()" class="form-outer">
			<div class="form-group">
				<label class="form-label">Agent URL</label>
				<input type="url" class="form-input" name="app_url" v-model="app_url" size="60">
			</div>
			<button type="submit" class="conn-action"><span class="fa fa-sign-in-alt"></span> Connect</button>
		</form>
	</div>
	<div class="form-outer" v-if="mode === 'receive_invite'">
		<h2 class="title">Receive an Invitation</h2>
		<form @submit.prevent="receiveInvite()" autocomplete="off" class="form-outer">
			<div class="form-group">
				<label class="form-label">Invitation URL</label>
				<input type="url" class="form-input" id="invite_url" name="invite_url" placeholder="http://example.com?c_i=..." v-model="input_invite_url" size="60">
			</div>
			<button type="submit" class="conn-action"><span class="fa fa-envelope-open-text"></span> Receive Invitation</button>
			<button type="button" class="conn-action cancel" @click.prevent="showConnections">Cancel</button>
		</form>
	</div>
	<div class="form-outer" v-if="mode === 'generate_invite'">
		<h2 class="title">Generated Invitation</h2>
		<div class="form-outer">
			<div class="invitation-outer">
				<div class="form-group invitation-url-outer">
					<label class="form-label">Invitation URL</label>
					<div class="invitation-url identifier">{{ recvd_invite_url }}</div>
				</div>
				<div class="form-group invitation-qr-outer">
					<label class="form-label">Invitation QR Code</label>
					<canvas id="invitation-qr" class="invitation-qr"></canvas>
				</div>
			</div>
			<button type="button" class="conn-action" @click.prevent="copyInvite"><span class="fa fa-clipboard"></span> Copy Invitation</button>
			<button type="button" class="conn-action cancel" @click.prevent="showDetail(recvd_invite_id)">Done</button>
		</div>
	</div>
	<div v-if="mode !== 'settings' && conn_error" class="conn-alert error">
		{{ conn_error }}
	</div>
	<div v-if="mode === 'connections' && conn_status" class="conn-list-outer">
		<h2 class="title">All Connections</h2>
		<div class="conn-list" v-if="connections.length">
			<div v-for="conn in connections" :key="conn.connection_id" class="conn-outer">
				<div class="conn-head">
					<div class="avatar-outer">
						<img :src="conn.image" class="avatar">
					</div>
					<div class="conn-info">
						<h3 class="conn-label" :style="{ color: conn.color }" v-if="conn.their_label">{{ conn.their_label }}</h3>
						<h3 class="conn-label" :style="{ color: conn.color }" v-else-if="conn.state == 'invitation'">Pending Connection</h3>
						<h3 class="conn-label" :style="{ color: conn.color }" v-else>Connection</h3>
					</div>
					<div class="conn-info">
						<p class="conn-did identifier" v-if="conn.their_did">{{ conn.their_did }}</p>
					</div>
					<div class="conn-actions">
						<span class="activity-count" v-if="conn.activity_count">
							<span class="fa fa-comment"></span> {{ conn.activity_count }}
						</span>
						<button type="button" class="conn-action" v-if="conn.state == 'invitation' && conn.initiator == 'external'" @click.prevent="acceptInvite(conn.connection_id)"><span class="fa fa-user-plus"></span> Accept Invitation</button>
						<button type="button" class="conn-action" v-if="conn.state == 'request' && conn.initiator == 'self'" @click.prevent="acceptRequest(conn.connection_id)"><span class="fa fa-user-check"></span> Accept Request</button>
						<button type="button" class="conn-action" @click.prevent="showDetail(conn.connection_id)"><span class="fa fa-folder-open"></span> Details</button>
					</div>
				</div>
			</div>
		</div>
		<div v-else class="conn-alert">
			No connection records.
		</div>
	</div>
	<div class="conn-detail-outer" v-if="mode === 'connection_detail'">
		<h2 class="title">Connection Details</h2>
		<div class="conn-detail">
			<div class="conn-head">
				<div class="avatar-outer">
					<img :src="conn_detail.image" class="avatar">
				</div>
				<div class="conn-info">
					<h2 class="conn-label" :style="{ color: conn_detail.color }" v-if="conn_detail.their_label">{{ conn_detail.their_label }}</h2>
					<h2 class="conn-label" :style="{ color: conn_detail.color }" v-else-if="conn_detail.state == 'invitation'">Pending Connection</h2>
					<h2 class="conn-label" :style="{ color: conn_detail.color }" v-else>Connection</h2>
					<p class="conn-did identifier" v-if="conn_detail.their_did">Their DID: {{ conn_detail.their_did }}</p>
					<p class="conn-did identifier" v-if="conn_detail.my_did">My DID: {{ conn_detail.my_did }}</p>
					<p class="conn-did" v-if="conn_detail.created_at">Created: {{ conn_detail.created_at | formatDate }}</p>
				</div>
				<div class="conn-actions">
					<button type="button" class="conn-action" v-if="conn_detail.state == 'invitation' && conn_detail.initiator == 'external'" @click.prevent="acceptInvite(conn_detail.connection_id)"><span class="fa fa-user-plus"></span> Accept Invitation</button>
					<button type="button" class="conn-action" v-if="conn_detail.state == 'request' && conn_detail.initiator == 'self'" @click.prevent="acceptRequest(conn_detail.connection_id)"><span class="fa fa-user-check"></span> Accept Request</button>
					<button type="button" class="conn-action" v-if="conn_detail.state == 'active'" @click.prevent="sendPing(conn_detail.connection_id)"><span class="fa fa-hand-point-left"></span> Send Trust Ping</button>
				</div>
			</div>
			<div class="conn-body">
				<div class="activity-row reply" v-if="conn_detail.state == 'active'">
					<input type="text" class="form-input" name="send_message" placeholder="Send message .." size="60" @keyup.enter="sendMessage(conn_detail.connection_id, $event.target)" autocomplete="off">
				</div>
				<div :class="'activity-row ' + row.direction" v-for="row in conn_detail.activity">
					<div class="message" v-if="row.type == 'message'">
						<div class="message-wrap">
							<span class="fa fa-lg fa-comment"></span> {{ row.meta.content }}
						</div>
						<div class="message-copy" v-if="row.meta.copy_invite">
							<button type="button" class="conn-action copy-message" @click.prevent="copyMessage(conn_detail.connection_id, row)" v-if="! row.meta.copied"><span class="fa fa-clipboard"></span> Copy Invitation</button>
							<span class="message-copied" v-else>Invitation copied.</span>
						</div>
					</div>
					<div class="ping" v-if="row.type == 'ping'">
						<span :class="'fa fa-lg fa-hand-point-' + (row.direction == 'sent' ? 'left' : 'right')"></span>
						{{ row.direction == 'sent'? 'Sent trust ping' : 'Received trust ping' }}
					</div>
					<div class="invitation" v-if="row.type == 'invitation'">
						<span :class="'fa fa-lg fa-envelope' + (row.direction == 'received' ? '-open-text' : '')"></span>
						{{ row.direction == 'sent'? 'Generated invitation' : 'Received invitation' }}
					</div>
					<div class="request" v-if="row.type == 'request'">
						<span class="fa fa-lg fa-user-plus"></span>
						{{ row.direction == 'sent'? 'Sent connection request' : 'Received connection request' }}
					</div>
					<div class="response" v-if="row.type == 'response'">
						<span class="fa fa-lg fa-user-check"></span>
						{{ row.direction == 'sent'? 'Sent connection response' : 'Received connection response' }}
					</div>
					<div class="activity-time">
						<span v-if="row.type != 'ping' && row.type != 'invitation'">
							{{ row.direction == 'sent'? 'Sent' : 'Received' }}
						</span>
						{{ row.time | formatDate }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/identicon.js"></script>	
<script src="js/page.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.js"></script>
</body>
</html>
